{% extends 'main/layout.html' %}

{% block title %}
    <title>{{page}}</title>
{% endblock %}

{% block content %}
    <h1>Добро пожаловать в раздел руководств по Django на сайте {{caption}}!</h1>

    <h3>Здесь вы найдёте пошаговые инструкции и учебные материалы, которые помогут вам освоить
        этот мощный фреймворк с нуля или углубить свои знания. Наши руководства созданы для
        разработчиков всех уровней, от новичков до опытных профессионалов.</h3>

<p>Мы предлагаем:</p>
<p>- Введение в Django: основы и первый проект</p>
<p>- Создание и настройка моделей и баз данных</p>
<p>- Работа с шаблонами и статическими файлами</p>
<p>- Создание форм и валидация данных</p>
<p>- Разработка RESTful API с Django и Django REST Framework</p>
<h4>Следуйте нашим инструкциям и создавайте свои первые впечатляющие веб-приложения уже сегодня!</h4
{% endblock %}
