{% extends 'main/layout.html' %}

{% block title %}
    <title>{{page}}</title>
{% endblock %}

{% block content %}
    <h1>Добро пожаловать на форум сообщества {{caption}}!</h1>

    <h3>Здесь вы можете общаться с другими любителями кошек и разработчиками Django,
        делиться своими идеями и получать помощь от экспертов.</h3>

<p>Форум предлагает:</p>
<p>- Обсуждения по вопросам разработки на Django</p>
<p>- Советы и рекомендации по проектам</p>
<p>- Раздел для обмена полезными ресурсами и инструментами</p>
<p>- Темы, посвящённые уходу за кошками и их поведению</p>
<p>- ЗРаздел для представления ваших проектов и получения обратной связи</p>
<h4>Присоединяйтесь к нашему форуму, задавайте вопросы, делитесь своими знаниями и становитесь частью дружного сообщества CatDjango!</h4
{% endblock %}
