{% extends 'main/layout.html' %}

{% block title %}
    <title>{{page}}</title>
{% endblock %}

{% block content %}
    <h1>Добро пожаловать на сайт {{caption}}!</h1>

    <h3>Мы рады приветствовать вас в нашем уютном уголке, посвящённом миру кошек и разработке на Django.
        Здесь вы найдёте всё, что нужно для создания потрясающих веб-приложений с использованием этого
        мощного фреймворка, а также массу интересной информации о наших любимых мурчащих друзьях.</h3>

<p>На сайте {{caption}} вы сможете:</p>
<p>- Пройти пошаговые руководства по Django для начинающих и опытных разработчиков</p>
<p>- Узнать о лучших практиках и инструментах для создания веб-приложений</p>
<p>- Почитать интересные статьи и советы по уходу за кошками</p>
<p>- Поделиться своими проектами и получить обратную связь от сообщества</p>
<p>- Задать вопросы на форуме и получить помощь от экспертов</p>
<h4>Присоединяйтесь к нашему сообществу и начните своё путешествие в мир Django и кошек вместе с нами!</h4>
{% endblock %}