{% extends 'main/layout.html' %}

{% block title %}
    <title>{{page}}</title>
{% endblock %}

{% block content %}
    <h1>Добро пожаловать в наш блог, посвящённый кошкам!</h1>

    <h3>Здесь мы делимся интересными и полезными статьями о наших любимых пушистых друзьях.
        Узнайте больше о повадках, уходе и здоровье кошек.</h3>

<p>В нашем блоге {{caption}} вы найдёте:</p>
<p>- Советы по выбору правильного корма для кошек</p>
<p>- Как понять язык тела вашей кошки</p>
<p>- Лучшие игрушки и аксессуары для вашего питомца</p>
<p>- Истории спасения и приютов для кошек</p>
<p>- Психология кошек: как создать комфортную среду для вашего питомца</p>
<h4>Читайте наши статьи и узнайте больше о том, как сделать жизнь вашей кошки счастливой и здоровой!</h4
{% endblock %}
